/* Start with ids */
#of_board .cell {
    border: 2px solid black;
    height: 40px;
    width: 40px;
}

#of_board .cell.highlight_ok, #df_board .cell.highlight_ok {
    cursor: pointer;
}

#df_board {
    margin-left: auto;
    margin-right: auto;
}

#df_board .cell, #rt_board .cell {
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

#rotate_display {
    display: inline-block;
    text-align: right;
    width: 77px;
}

#rt_board {
    margin-left: auto;
    margin-right: auto;
}

/* Start with elements */



/* Start with classes */
.cell.highlight_ok {
    background-color: #ADD6FF;
}

.cell.highlight_invalid {
    background-color: #FF9792;
}

.cell.highlight_rail {
    background: #ebf1f6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ebf1f6 0%, #89c3eb 23%, #89c3eb 23%, #abd3ee 51%, #d5ebfb 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ebf1f6), color-stop(23%,#89c3eb), color-stop(23%,#89c3eb), color-stop(51%,#abd3ee), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ebf1f6 0%,#89c3eb 23%,#89c3eb 23%,#abd3ee 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ebf1f6 0%,#89c3eb 23%,#89c3eb 23%,#abd3ee 51%,#d5ebfb 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ebf1f6 0%,#89c3eb 23%,#89c3eb 23%,#abd3ee 51%,#d5ebfb 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #ebf1f6 0%,#89c3eb 23%,#89c3eb 23%,#abd3ee 51%,#d5ebfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.content_hit {
    background-image: url("Resources/hit.png");
    background-size: contain;
}

.content_miss {
    background-image: url("Resources/miss.png");
    background-size: contain;
}

.rt_board_display {
    margin-bottom: 10px;
}

.single_board {
    display: inline-block;
    height: 530px;
    text-align: center;
    width: 460px;
    vertical-align: top;
}

.weapons {
    border-top: 1px solid black;
    margin-top: 10px;
    text-align: center;
    width: 920px;
}

.weapons div {
    display: inline-block;
    vertical-align: top;
}

.weapons div div {
    display: block;
}

